*{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    width: 360px;
}

ul{
    margin: 20px;
}

li{
    list-style: none;
    margin: 5px 0;
}

.tab-inner{
    display: inline-flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    max-width: 100%;
}

.icon{
    margin: 3px 10px;
}

.icon img{
    height: 20px;
}

.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}